@page
@model CrystalByRiya.Areas.Admin.Pages.ReviewGalleries.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ReviewGallery</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReviewGallery.ImageName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReviewGallery.ImageName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReviewGallery.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReviewGallery.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReviewGallery.ProductId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReviewGallery.ProductId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReviewGallery.Approved)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReviewGallery.Approved)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ReviewGallery.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
