@page
@model CrystalByRiya.Areas.Admin.Pages.Banners.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Banners</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Banners.MobileImageName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Banners.MobileImageName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Banners.DesktopImageName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Banners.DesktopImageName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Banners.TargetUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Banners.TargetUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Banners.AltText)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Banners.AltText)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Banners.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Banners.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Banners.Text)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Banners.Text)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Banners.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
