@page
@model CrystalByRiya.Areas.Admin.Pages.Blog.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create" class="btn btn-danger">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Blogs[0].BlogTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Blogs[0].ShortDescription)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.Blogs[0].PublishedDate)
            </th>
            
          
           
            <th>
                @Html.DisplayNameFor(model => model.Blogs[0].ThumbnailImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Blogs[0].Keywords)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Blogs) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BlogTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortDescription)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.PublishedDate)
            </td>
            
            
           
            <td>
                @Html.DisplayFor(modelItem => item.ThumbnailImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Keywords)
            </td>
           
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Blogid">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Blogid">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Blogid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
