@page
@model CrystalByRiya.Areas.Admin.Pages.AddToCart.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Cart</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cart.ProductId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cart.ProductId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cart.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cart.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cart.UserEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cart.UserEmail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cart.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cart.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cart.ProductName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cart.ProductName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cart.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cart.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cart.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cart.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cart.Marketing)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cart.Marketing)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cart.material)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cart.material)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cart.size)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cart.size)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cart.addon)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cart.addon)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cart.Qty)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cart.Qty)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cart.Gst)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cart.Gst)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cart.Image)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cart.Image)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Cart.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
