@page
@model CrystalByRiya.Areas.PRoductSIzes.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ProductSizes</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductSizes.ProductID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductSizes.ProductID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductSizes.Size)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductSizes.Size)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductSizes.SKUCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductSizes.SKUCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductSizes.ImageURL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductSizes.ImageURL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductSizes.StockQuantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductSizes.StockQuantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductSizes.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductSizes.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductSizes.AltText)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductSizes.AltText)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="ProductSizes.SizeID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
