@page "{blogid}/{url}"
@model CrystalByRiya.Pages.blogdetailModel
@{
}
@section Metatags {
    <title> Crystals By Riya | @Model.Singleblog.BlogTitle</title>
    <meta name="keywords" content="@Model.Singleblog.Keywords" />
    <link rel="canonical" href="@Model.Currenturl" />
    <meta property="og:title" content="@Model.Singleblog.BlogTitle" />
    <meta property="og:url" content="@Model.Currenturl" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="@Model.Singleblog.ThumbnailImage" />
    <meta property="og:site_name" content="https://www.crystalsbyriya.com" />

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="https://www.crystalsbyriya.com">
    <meta name="twitter:title" content="@Model.Singleblog.BlogTitle">
    <meta name="twitter:description" content="@Model.Singleblog.BlogTitle">
    <meta name="twitter:creator" content="Crystals by Riya">
    <meta name="twitter:image" content="@Model.Singleblog.ThumbnailImage">
    <meta name="twitter:domain" content="https://www.crystalsbyriya.com" />
}

<main class="main-content">
    <!--== Start Page Title Area ==-->
    <div class="page-title-area page-title-area2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-title-content content-style-2">
                        <div class="bread-crumbs"><a href="/index">Home<span class="breadcrumb-sep">&gt;</span></a><a href="#">@Model.Singleblog.BlogTitle</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== End Page Title Area ==-->
    <!--== Start Product Area Wrapper ==-->
    <section class="blog-detail-area pt-3 pt-md-4 area-padding">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="blog-detail-content-parent">

                        <div class="featured-img-area mb-3">
                            <div class="featured-img-parent">
                                <img src="@Model.Singleblog.Image" alt="@Model.Singleblog.Category" class="img-fluid">
                            </div>
                        </div>

                        <div class="blog-title mb-3">
                            <h2>@Model.Singleblog.BlogTitle</h2>
                        </div>
                        <ul class="blog-meta">
                            <li class="author me-1">By <a href="#">@Model.Singleblog.Author</a></li>
                            <li> | </li>
                            <li class="date ms-1">@Model.Singleblog.PublishedDate.ToString("hh MMM yyyy")</li>
                        </ul>



                        <div class="blog-content-area">
                            <p>@Html.Raw(Model.Singleblog.Blogdescription)</p>
                        </div>
                        @if (Model.BlogFaqs != null && Model.BlogFaqs.Count > 0)
                        {

                            <div class="blog-faq faq-area pt-3 pt-md-5 pb-3 pb-md-5">
                                <div class="container p-0">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="section-title mb-3 text-center">
                                                <h4 class="fw-semibold">Frequently Asked Questions</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="col-12">
                                            <div class="accordian-content">
                                                <div class="accordion" id="accordionExample">
                                                    @foreach (var item in Model.BlogFaqs)
                                                    {
                                                        <div class="accordion-item">
                                                            <h2 class="accordion-header" id="heading_@item.Id">
                                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_@item.Id" aria-expanded="false" aria-controls="collapse_@item.Id">
                                                                    @item.Question
                                                                </button>
                                                            </h2>
                                                            <div id="collapse_@item.Id" class="accordion-collapse collapse" aria-labelledby="heading_@item.Id" data-bs-parent="#accordionExample">
                                                                <div class="accordion-body">
                                                                    <p>@Html.Raw(item.Answer)</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }


                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        }
                        <!--== Related Products Area Wrapper ==-->
                        <div class="product-area related-products-area pb-5">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-12 m-auto">
                                        <div class="section-title pt-3 pb-4 text-center border-0">
                                            <h3 class="title">Related Products</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="swiper-container product4-slider-container">
                                            <div class="swiper-wrapper">
                                                @if (Model.Products != null && Model.Products.Any())
                                                {
                                                    foreach (var product in Model.Products)
                                                    {
                                                        <div class="swiper-slide">
                                                            <!-- Start Product Item -->
                                                            <div class="product-item">
                                                                <div class="product-thumb">
                                                                    <a asp-page="detail" asp-route-skucode="@product.SkuCode" asp-route-productname="@product.ProductName.Replace(' ','-')">
                                                                        <img data-src="@Url.Content("https://djelgxoby50a9.cloudfront.net/Images/" + product.Thumbnail)" alt="Shop" class="lazyload">

                                                                        <span class="bg-thumb" data-bg-img="@product.Thumbnail" style="background-image: url(@product.Thumbnail);"></span>
                                                                        <span class="thumb-overlay"></span>
                                                                    </a>
                                                                    <div class="product-action">
                                                                        <a href="javascript:void(0);" id="@product.SkuCode" class="action-quick-view ht-tooltip quview" data-tippy-content="Quick View">
                                                                            <i class="lastudioicon-eye"></i>
                                                                        </a>
                                                                        <a class="action-wishlist ht-tooltip" data-tippy-content="Add to wishlist" href="javascript:void(0);" onclick="HandleAddToWishlist2('@product.SkuCode', '@product.ProductName')">
                                                                            <i class="lastudioicon-heart-2"></i>
                                                                        </a>

                                                                        <!-- Hidden Form for Wishlist Submission -->
                                                                        <form id="wishlistForm" method="post" asp-page-handler="AddToWishlist" style="display:none;">
                                                                            @Html.AntiForgeryToken() <!-- Protect against CSRF attacks -->
                                                                            <input type="hidden" id="SkuCode" name="SkuCode" />
                                                                            <input type="hidden" id="ProductName" name="ProductName" />
                                                                            <input type="hidden" id="buynow" name="buynow" value="false" />
                                                                        </form>

                                                                        <script>
                                                                            function HandleAddToWishlist2(skuCode, productName) {
                                                                                // Prevent the default action
                                                                                event.preventDefault();

                                                                                // Set the product-specific values in the hidden form fields
                                                                                document.getElementById('SkuCode').value = skuCode;
                                                                                document.getElementById('ProductName').value = productName;

                                                                                // Set buynow to false for normal wishlist action
                                                                                document.getElementById('buynow').value = 'true';

                                                                                // Submit the form programmatically
                                                                                document.getElementById('wishlistForm').submit();
                                                                            }
                                                                        </script>
                                                                    </div>
                                                                </div>
                                                                <div class="product-footer position-relative">
                                                                    <div class="product-info d-block">
                                                                        <div class="content-inner text-center">
                                                                            <h4 class="title">
                                                                                <a asp-page="detail" asp-route-skucode="@product.SkuCode" asp-route-productname="@product.ProductName.Replace(' ','-')">
                                                                                    @product.ProductName
                                                                                    @product.ProductName
                                                                                </a>
                                                                            </h4>
                                                                            <div class="prices">
                                                                                <span class="price">&#8377; @product.Price</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="product-action-button-parent">
                                                                        <a href="javascript:void(0);" id="@product.SkuCode" class="btn product-action-button quview"><i class="lastudioicon-bag-3 me-1"></i> ADD TO CART</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- End Product Item -->
                                                        </div>
                                                    }
                                                }
                                                else
                                                {
                                                    <p class="text-center">No related products found.</p>
                                                }
                                            </div>
                                            <!-- Add Arrows -->
                                            <div class="swiper-button-next"></div>
                                            <div class="swiper-button-prev"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!--== End Related Area Wrapper ==-->

                        <div class="comments-area pt-3 pb-5">
                            <h2 class="text-center">Leave a Reply</h2>
                            <div class="comments-form-wrap">
                                <div class="clearfix"></div>
                                <form method="post" asp-page-handler="AddComment">
                                    <input type="hidden" name="title" value="@Model.Singleblog.BlogTitle" />

                                    <div class="comments-form-content">
                                        <div class="row row-gutter-20">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <input class="form-control" type="text" placeholder="Name" required asp-for="@Model.Name">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <input class="form-control" type="email" placeholder="Email" required asp-for="@Model.Email">
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <textarea class="form-control textarea" name="comment" rows="5" placeholder="Your Comment Here..." required></textarea>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <button class="btn-theme btn btn-black" type="submit">Post Comment</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        @if (Model.ReplyList != null && Model.ReplyList.Any(c => c.IsApproved == true))
                        {


                            <div class="row gy-3 gx-3">
                                @foreach (var comment in Model.ReplyList)
                                {
                                    <div class="col-md-6">
                                        <div class="comment-single-parent">
                                            <div class="comment-header d-flex">
                                                <div class="thumb me-2">
                                                    <img src="assets/img/blog/comments/1.png" alt="user">
                                                </div>
                                                <div class="comment-by-parent">
                                                    <h5 class="name fw-semibold">@comment.Name</h5>
                                                    <p class="date">@comment.Date.ToString("dd MMM yyyy")</p>
                                                </div>
                                            </div>
                                            <div class="comment-content-parent">
                                                <p>@comment.Comment</p>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        }
                    </div>
                </div>


            </div>
        </div>
    </section>
    <!--== End Product Area Wrapper ==-->
    <!--== Start Featured Area Wrapper ==-->
    <!--== End Featured Area Wrapper ==-->
    <aside class="product-quick-view-modal">
        <div class="product-quick-view-inner">
            <div class="product-quick-view-content">
                <button type="button" class="btn-close">
                    <span class="close-icon"><i class="lastudioicon-e-remove"></i></span>
                </button>
                <div class="row row-gutter-0">
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="thumb">
                            <div class="swiper-container quick-view-slider-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <img src="https://djelgxoby50a9.cloudfront.net/Images/assetsv2/img/by-category/quick-view/1.jpg" alt="">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="https://djelgxoby50a9.cloudfront.net/assetsv2/img/by-category/quick-view/2.jpg" alt="">
                                    </div>
                                </div>
                                <!-- Add Arrows -->
                                <div class="swiper-button-next"></div>
                                <div class="swiper-button-prev"></div>
                                <!-- Add Pagination -->
                                <div class="swiper-pagination"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="single-product-info">
                            <h4 class="title">Title</h4>
                            <div class="product-rating">
                                <div class="review">
                                    <p><span></span>99 in stock</p>
                                </div>
                            </div>
                            <div class="prices">
                                <span class="price">&#8377; 111100</span>
                            </div>
                            <p class="product-desc mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fringilla quis ipsum enim viverra. Enim in morbi tincidunt ante luctus tincidunt integer. Sed adipiscing vehicula.</p>
                            <div class="sizes mb-4">
                                <h6 class="title" id="title">Sizes</h6>
                                <button type="button" class="btn btn-sizes">50mm</button>
                                <button type="button" class="btn btn-sizes">4mm</button>
                                <button type="button" class="btn btn-sizes">6mm</button>
                                <button type="button" class="btn btn-sizes">8mm</button>
                            </div>
                            <div class="material mb-4">
                                <h6 class="title" id="title">Material</h6>
                                <button type="button" class="btn btn-sizes">Gold</button>
                                <button type="button" class="btn btn-sizes">Silver</button>
                                <button type="button" class="btn btn-sizes">Bronze</button>
                            </div>

                            <div class="quick-product-action">
                                <div class="action-top">
                                    <div class="pro-qty-area">
                                        <div class="pro-qty">
                                            <input type="text" id="quantity1" title="Quantity" value="1" name="Qty" min="1" max="10">
                                            <a class="inc qty-btn">+</a><a class="dec qty-btn">-</a>
                                        </div>
                                    </div>
                                    <a class="btn-theme btn-black" onclick="HandleAddToCart3()">Add to cart</a>
                                </div>
                                <form id="addtocartForms" method="post" asp-page-handler="AddToCart" style="display:none;">
                                    @Html.AntiForgeryToken() <!-- Protect against CSRF attacks -->
                                    <input type="hidden" id="Skucode" name="SkuCode" />
                                    <input type="hidden" id="Productname" name="ProductName" />
                                    <input type="hidden" id="totalPrice" name="Price" />
                                    <input type="hidden" id="selectedSize" name="Size" />
                                    <input type="hidden" id="selectedMaterial" name="MaterialName" />
                                    <input type="hidden" id="quantity" name="Qty" />
                                </form>
                                <div class="action-bottom">
                                    <a class="btn-wishlist"><i class="labtn-icon labtn-icon-wishlist" onclick="HandleAddToWishlist3()"></i>Add to wishlist</a>
                                </div>
                                <form id="wishlistForms" method="post" asp-page-handler="AddToWishlist" style="display:none;">
                                    @Html.AntiForgeryToken() <!-- Protect against CSRF attacks -->
                                    <input type="hidden" id="Skucode1" name="SkuCode" />
                                    <input type="hidden" id="Productname1" name="ProductName" />
                                    <input type="hidden" id="Buynow" name="buynow" value="false" />
                                </form>
                            </div>
                            <div class="product-ratting">
                                <div class="product-sku">
                                    SKU: <span>N/A</span>
                                </div>
                            </div>

                            <div class="widget">
                                <h3 class="title">Tags:</h3>
                                <div class="widget-tags">
                                    <ul>
                                        <li><a href="#">lorem,</a></li>
                                        <li><a href="#">lorem,</a></li>
                                    </ul>
                                </div>
                            </div>
                         
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="canvas-overlay"></div>
    </aside>
    <script src="https://djelgxoby50a9.cloudfront.net/assetsv2/js/ProductQuickView.js">

    </script>
</main>