@page
@model CrystalByRiya.Pages.CartModel
 @using Microsoft.AspNetCore.Http
  @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    string userEmail = HttpContextAccessor.HttpContext.Session.GetString("UserEmail");
    double totalamount = 0;
    double SubTotal = 0;
    double GrandTotal = 0;
}
@if (TempData["CouponMessage"] != null)
{
    <div class="alert alert-info" role="alert">
        @TempData["CouponMessage"]
    </div>
}
@section Metatags {
    <title> Crystal By Riya | Cart</title>
    <meta name="keywords" content="Healing stones,Crystals and Gemstones,Healing crystals,Natural stones,Authentic crystals,Original crystals,Crystal jewellery,Sterling Silver Jewellery,Silver jewellery crystals,Silver jewellery" />
    <link rel="canonical" href="@Model.Currenturl" />
    <meta property="og:title" content="Crystals By Riya | Cart" />
    <meta property="og:url" content="@Model.Currenturl" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://djelgxoby50a9.cloudfront.net/logo/logo.png" />
    <meta property="og:site_name" content="https://www.crystalsbyriya.com" />

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="https://www.crystalsbyriya.com">
    <meta name="twitter:title" content="Crystal By Riya | Cart">
    <meta name="twitter:description" content="Placing our customers at the core of everything we do, understanding their needs, and exceeding their expectations.">
    <meta name="twitter:creator" content="Crystals by Riya">
    <meta name="twitter:image" content="https://djelgxoby50a9.cloudfront.net/logo/logo.png">
    <meta name="twitter:domain" content="https://www.crystalsbyriya.com" />
}

<!-- Page Title -->
<section class="s-page-title">
    <div class="container">
        <div class="content">
            <h1 class="title-page">Shopping Cart</h1>
            <ul class="breadcrumbs-page">
                <li><a href="index.html" class="h6 link">Home</a></li>
                <li class="d-flex"><i class="icon icon-caret-right"></i></li>
                <li>
                    <h6 class="current-page fw-normal">Shopping Cart</h6>
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- /Page Title -->
<!-- View Cart -->
<div class="flat-spacing each-list-prd">
    <div class="container">
        <div class="row">
            <div class="col-xxl-9 col-xl-8">
                <div class="tf-cart-sold">
                    <div class="notification-sold bg-surface">
                        <img class="icon" src="icon/fire.svg" alt="Icon">
                        <div class="count-text h6">
                            Your cart will expire in
                            <div class="js-countdown time-count cd-has-zero cd-no" data-timer="65" data-labels=":,:,:,"></div>
                            minutes! Please checkout now before your items sell out!
                        </div>
                    </div>
                    <div class="notification-progress">
                        <div class="text">
                            <i class="icon icon-truck"></i>
                            <p class="h6">
                                Free Shipping for orders over <span class="text-primary fw-bold">$150</span>
                            </p>
                        </div>
                        <div class="progress-cart">
                            <div class="value" style="width: 0%;" data-progress="50">
                                <span class="round"></span>
                            </div>
                        </div>
                    </div>
                </div>
                
                    <table class="tf-table-page-cart">
                        <thead>
                            <tr>
                                <th class="h6">Product</th>
                                <th class="h6">Price</th>
                                <th class="h6">Quality</th>
                                <th class="h6">Total price</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Carts)
                            {
                                var itemTotal = item.Price * item.Qty;

                                <tr class="tf-cart_item each-prd file-delete">
                                    <td>
                                        <div class="cart_product">
                                            <a href="/product-detail/@item.ProductId" class="img-prd">
                                                <img class="lazyload" src="/images/products/@item.Image" data-src="images/products/@item.Image" alt="@item.ProductName">
                                            </a>
                                            <div class="infor-prd">
                                                <h6 class="prd_name">
                                                    <a href="/product-detail/@item.ProductId" class="link">
                                                        @item.ProductName
                                                    </a>
                                                </h6>
                                                <div class="prd_select text-small">
                                                    Size:
                                                    <div class="size-select">
                                                        <select class="bg-white">
                                                            <option selected>@item.Size</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="cart_price h6 each-price" data-cart-title="Price">₹@item.Price</td>
                                    <td class="cart_quantity" data-cart-title="Quantity">
                                        <form method="post" asp-page-handler="UpdateQuantity">
                                            <input type="hidden" name="productID" value="@item.ProductId" />
                                            <input type="hidden" name="size" value="@item.Size" />

                                            <div class="wg-quantity">
                                                <button class="btn-quantity minus-quantity" type="button"
                                                        onclick="updateQty(this, -1)">
                                                    <i class="icon-minus fs-14"></i>
                                                </button>

                                                <input class="quantity-product"
                                                       type="number"
                                                       name="quantity"
                                                       value="@item.Qty"
                                                       min="1" />

                                                <button class="btn-quantity plus-quantity" type="button"
                                                        onclick="updateQty(this, 1)">
                                                    <i class="icon-plus fs-14"></i>
                                                </button>
                                            </div>
                                        </form>
                                        @* <div class="wg-quantity">
                                            <button class="btn-quantity minus-quantity" type="button">
                                                <i class="icon-minus fs-14"></i>
                                            </button>
                                            <input class="quantity-product" type="text" name="number" value="1">
                                            <button class="btn-quantity plus-quantity" type="button">
                                                <i class="icon-plus fs-14"></i>
                                            </button>
                                        </div> *@
                                    </td>
                                    <td class="cart_total h6">
                                        ₹@itemTotal
                                    </td>
                                    <td class="cart_remove remove link" data-cart-title="Remove">
                                        <a asp-page="Cart"
                                           asp-page-handler="Delete"
                                           asp-route-id="@item.ProductId"
                                           asp-route-size="@item.Size"
                                           asp-route-addon="@item.Addon"
                                           asp-route-material="@item.MaterialName">
                                            <i class="icon icon-close"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <form method="post" asp-page-handler="CouponCode">
                        <div class="ip-discount-code">
                            <input type="text" name="coupon_code" placeholder="Add voucher discount" required />
                            <button class="tf-btn animate-btn" type="submit">
                                Apply Code
                            </button>
                        </div>
                    </form>
                    <div class="group-discount mb-xl-0">
                        <div class="box-discount">
                            <div class="discount-top">
                                <div class="discount-off">
                                    <p class="h6">Discount</p>
                                    <h6 class="sale-off h6 fw-bold">30% OFF</h6>
                                </div>
                                <div class="discount-from">
                                    <p class="h6">
                                        For all orders <br>form $150
                                    </p>
                                </div>
                            </div>
                            <div class="discount-bot">
                                <h6>Code: <span class="coupon-code">Themesflat</span></h6>
                                <button class="tf-btn coupon-copy-wrap h6" type="button">
                                    Apply Code
                                </button>
                            </div>
                        </div>
                        <div class="box-discount">
                            <div class="discount-top">
                                <div class="discount-off">
                                    <p class="h6">Discount</p>
                                    <h6 class="sale-off h6 fw-bold">15% OFF</h6>
                                </div>
                                <div class="discount-from">
                                    <p class="h6">
                                        For all orders <br>form $100
                                    </p>
                                </div>
                            </div>
                            <div class="discount-bot">
                                <h6>Code: <span class="coupon-code">SliVox</span></h6>
                                <button class="tf-btn coupon-copy-wrap h6" type="button">
                                    Apply Code
                                </button>
                            </div>
                        </div>
                        <div class="box-discount">
                            <div class="discount-top">
                                <div class="discount-off">
                                    <p class="h6">Discount</p>
                                    <h6 class="sale-off h6 fw-bold">20% OFF</h6>
                                </div>
                                <div class="discount-from">
                                    <p class="h6">
                                        For all orders <br>form $200
                                    </p>
                                </div>
                            </div>
                            <div class="discount-bot">
                                <h6>Code: <span class="coupon-code">MasShin</span></h6>
                                <button class="tf-btn coupon-copy-wrap h6" type="button">
                                    Apply Code
                                </button>
                            </div>
                        </div>
                    </div>
            
            </div>
            <div class="col-xxl-3 col-xl-4">
                <div class="fl-sidebar-cart bg-white-smoke sticky-top">
                    <div class="box-order-summary">
                        <h4 class="title fw-semibold">Order Summary</h4>
                        <div class="subtotal h6 text-button d-flex justify-content-between align-items-center">
                            <h6 class="fw-bold">Subtotal</h6>
                            <span class="total">₹@Model.Subtotal</span>
                        </div>
                        <div class="discount  text-button d-flex justify-content-between align-items-center">
                            <h6 class="fw-bold">Discounts</h6>
                            <span class="total h6">-₹@Model.DiscountAmount</span>
                        </div>
                        <div class="ship">
                            <h6 class="fw-bold">Shipping</h6>
                            <div class="flex-grow-1">
                                <fieldset class="ship-item">
                                    <input type="radio" name="ship-check" class="tf-check-rounded" id="free" checked>
                                    <label class="h6" for="free">
                                        <span>Free Shipping</span>
                                        <span class="price">₹@Model.Shipping</span>
                                    </label>
                                </fieldset>
                            </div>
                        </div>
                        <h5 class="total-order d-flex justify-content-between align-items-center">
                            <span>Total</span>
                                <span class="total each-total-price">₹@Model.Total</span>
                        </h5>
                        <div class="list-ver">
                            <a href="checkout.html" class="tf-btn w-100 animate-btn">
                                Process to checkout
                                <i class="icon icon-arrow-right"></i>
                            </a>
                            <a href="shop-default.html" class="tf-btn btn-white animate-btn animate-dark w-100">
                                Continue shopping
                                <i class="icon icon-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /View Cart -->

    <script>
        function updateQty(btn, change) {
            let input = btn.parentElement.querySelector("input");
            let value = parseInt(input.value) || 1;

            value += change;
            if (value < 1) value = 1;

            input.value = value;

            // auto submit form
            btn.closest("form").submit();
        }
    </script>
