@page "{catname?}/{subcatname?}"
<script>
    const catname = "@(Request.RouteValues["catname"] ?? "")";
    const subcatname = "@(Request.RouteValues["subcatname"] ?? "")";
</script>

@model CrystalByRiya.Pages.productlistModel
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    string userEmail = HttpContextAccessor.HttpContext.Session.GetString("UserEmail");
    var productlist = Model.PagedProducts;
    var bestsellers = Model.SpBestseller;
}



@section Metatags {
    <title> Crystal By Riya | @Model.Subcategorytitle </title>
    <meta name="keywords" content="Healing stones,Crystals and Gemstones,Healing crystals,Natural stones,Authentic crystals,Original crystals,Crystal jewellery,Sterling Silver Jewellery,Silver jewellery crystals,Silver jewellery" />
    <link rel="canonical" href="@Model.Currenturl" /><a href="c:\users\ac\desktop\asharpinfotech\crystalbyriya_2\crystalbyriya\crystalbyriya\pages\productlist.cshtml.cs">c:\users\ac\desktop\asharpinfotech\crystalbyriya_2\crystalbyriya\crystalbyriya\pages\productlist.cshtml.cs</a>
    <a href="c:\users\ac\desktop\asharpinfotech\crystalbyriya_2\crystalbyriya\crystalbyriya\pages\productlist.cshtml">c:\users\ac\desktop\asharpinfotech\crystalbyriya_2\crystalbyriya\crystalbyriya\pages\productlist.cshtml</a>
    <meta property="og:title" content="Crystals By Riya | @Model.Subcategorytitle" />
    <meta property="og:url" content="@Model.Currenturl" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://djelgxoby50a9.cloudfront.net/logo/logo.png" />
    <meta property="og:site_name" content="https://www.crystalsbyriya.com" />

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="https://www.crystalsbyriya.com">
    <meta name="twitter:title" content="Crystals By Riya | @Model.Subcategorytitle">
    <meta name="twitter:description" content="Placing our customers at the core of everything we do, understanding their needs, and exceeding their expectations.">
    <meta name="twitter:creator" content="Crystals by Riya">
    <meta name="twitter:image" content="https://djelgxoby50a9.cloudfront.net/logo/logo.png">
    <meta name="twitter:domain" content="https://www.crystalsbyriya.com" />
}


<!-- Page Title -->
<section class="s-page-title">
    <div class="container">
        <div class="content">
            <h1 class="title-page">@Model.Subcategorytitle</h1>
            <ul class="breadcrumbs-page">
                <li>
                    <a asp-page="/Index" class="h6 link">Home</a>
                </li>
                <li class="d-flex"><i class="icon icon-caret-right"></i></li>
                <li>
                    <h6 class="current-page fw-normal">@Model.Subcategorytitle</h6>
                </li>
            </ul>
        </div>
    </div>
</section>


<!-- /Page Title -->
<!-- Section Product -->
<div class="flat-spacing">
    <div class="container">
        <div class="tf-shop-control">
            <div class="tf-control-filter">
                <a href="#filterShop" data-bs-toggle="offcanvas" aria-controls="filterShop" class="tf-btn-filter">
                    <span class="icon icon-filter"></span><span class="text">Filter</span>
                </a>
            </div>
            <ul class="tf-control-layout">
                <li class="tf-view-layout-switch sw-layout-2" data-value-layout="tf-col-2">
                    <i class="icon-grid-2"></i>
                </li>
                <li class="tf-view-layout-switch sw-layout-3 d-none d-md-flex" data-value-layout="tf-col-3">
                    <i class="icon-grid-3"></i>
                </li>
                <li class="tf-view-layout-switch sw-layout-4 d-none d-xl-flex active" data-value-layout="tf-col-4">
                    <i class="icon-grid-4"></i>
                </li>
                <li class="tf-view-layout-switch sw-layout-5 d-none d-xxl-flex" data-value-layout="tf-col-5">
                    <i class="icon-grid-5"></i>
                </li>
                <li class="tf-view-layout-switch sw-layout-6 d-none d-xxl-flex" data-value-layout="tf-col-6">
                    <i class="icon-grid-6"></i>
                </li>
                <li class="br-line type-vertical"></li>
                <li class="tf-view-layout-switch sw-layout-list list-layout" data-value-layout="list">
                    <i class="icon-list"></i>
                </li>
            </ul>
            <div class="tf-control-sorting">
                <p class="h6 d-none d-lg-block">Sort by:</p>
                <form method="post" asp-page-handler="Filter">
                    <input type="hidden" name="ascedingprice" id="ascPrice" />
                    <input type="hidden" name="descendingprice" id="descPrice" />

                    <div class="tf-dropdown-sort" data-bs-toggle="dropdown">
                        <div class="btn-select">
                            <span class="text-sort-value">Sort</span>
                            <span class="icon icon-caret-down"></span>
                        </div>

                        <div class="dropdown-menu">
                            <button type="submit" onclick="setSort('asc')" class="select-item">
                                Price low to high
                            </button>
                            <button type="submit" onclick="setSort('desc')" class="select-item">
                                Price high to low
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="wrapper-control-shop gridLayout-wrapper">
            <div class="meta-filter-shop">
                <div id="product-count-grid" class="count-text"></div>
                <div id="product-count-list" class="count-text"></div>
                <div id="applied-filters"></div>
                <button id="remove-all" class="remove-all-filters" style="display: none;"><i class="icon icon-close"></i> Clear all</button>
            </div>
            <div class="tf-list-layout wrapper-shop" id="listLayout" style="display: none;">
                <!-- Product 1 -->
                @foreach (var item in Model.PagedProducts)
                {
                    <div class="card-product product-style_list" data-availability="In stock" data-brand="automet">
                        <div class="card-product_wrapper">
                            <a asp-page="/productdetail" asp-route-sku="@item.Skucode" class="product-img" >
                                <img class="lazyload img-product" src="/images/products/@item.Thumbnail" alt="@item.ProductName">
                                <img class="lazyload img-hover" src="/images/products/@item.Thumbnail" alt="@item.ProductName">
                            </a>
                            <ul class="product-action_list">
                                <li>
                                    <a href="#compare" data-bs-toggle="offcanvas" class="hover-tooltip tooltip-left box-icon ">
                                        <span class="icon icon-compare"></span>
                                        <span class="tooltip">Compare</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#quickView" data-bs-toggle="modal" class="hover-tooltip tooltip-left box-icon">
                                        <span class="icon icon-view"></span>
                                        <span class="tooltip">Quick view</span>
                                    </a>
                                </li>
                            </ul>
                            <div class="product-countdown">
                                <div class="js-countdown cd-has-zero" data-timer="25472" data-labels="d : ,h : ,m : ,s"></div>
                            </div>
                            <ul class="product-badge_list">
                                <li class="product-badge_item h6 hot">Hot</li>
                            </ul>
                        </div>
                        <div class="card-product_info">
                            <div class="product-info_list">
                                <a asp-page="/productdetail" asp-route-sku="@item.Skucode" class="name-product h3 link">
                                    @item.ProductName
                                </a>

                                <span class="price-new">₹@item.Price</span>
                                @* <span class="price-old">$99,99</span>
                                <span class="price-new">$69,99</span>
                                <ul class="product-color_list">
                                    <li class="product-color-item color-swatch hover-tooltip tooltip-bot active">
                                        <span class="tooltip color-filter">Dark</span>
                                        <span class="swatch-value bg-dark-charcoal"></span>
                                        <img src="images/products/@item.Thumbnail" alt="Product">

                                    </li>
                                </ul> *@
                                @* <div class="product-desc_list d-none d-sm-grid">
                                    <p class="product-desc">
                                        <span class="headline fw-bold">Contents:</span> Super soft and comfy fabric, skin-friendly and breathable.
                                        Womens
                                        tops dressy casual,
                                        round neck
                                        cute lightweight tops，loose fit basic tees
                                    </p>
                                    <p class="product-desc d-none d-md-block">
                                        <span class="headline fw-bold">Details:</span> Warm up or cool down with this essential 3/4 sleeve t
                                        shirts,
                                        featured
                                        in an loose fit
                                        and Pleated sleeve design with sew seaming front for a lived-in look.
                                    </p>
                                </div> *@
                            </div>
                            <div class="product-action_list">
                                <span class="h6">To buy, select <span class="fw-bold text-black">size</span></span>
                                <div class="group-btn">
                                    <form method="post" asp-page-handler="AddToCart">
                                        <input type="hidden" name="SkuCode" value="@item.Skucode" />
                                        <input type="hidden" name="Qty" value="1" />
                                        <input type="hidden" name="Price" value="@item.Price" />

                                        <button type="submit" class="tf-btn animate-btn">
                                            Add to Cart
                                            <i class="icon icon-shopping-cart-simple"></i>
                                        </button>
                                    </form>
                                    <!-- WISHLIST -->
                                    <form method="post" asp-page-handler="AddToWishlist">
                                        <input type="hidden" name="SkuCode" value="@item.Skucode" />
                                        <input type="hidden" name="ProductName" value="@item.ProductName" />

                                        <button type="submit" class="tf-btn style-line btn-add-wishlist2">
                                            <span class="text">Add to List</span>
                                            <i class="icon icon-heart"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                <!-- Pagination -->
                <div class="wd-full wg-pagination">
                    @for (int i = 1; i <= Model.TotalPages; i++)
                    {
                        <a asp-page="productlist"
                           asp-route-catname="@Request.RouteValues["catname"]"
                           asp-route-subcatname="@Request.RouteValues["subcatname"]"
                           asp-route-currentPage="@i"
                           class="pagination-item @(i == Model.CurrentPage ? "active" : "")">
                            @i
                        </a>
                    }
                </div>
            </div>
            <div class="wrapper-shop tf-grid-layout tf-col-4" id="gridLayout">
                <!-- Product 1 -->
                @foreach (var item in Model.PagedProducts)
                {
                    <div class="card-product grid" data-availability="In stock" data-brand="fisoew">
                        <div class="card-product_wrapper">
                            <a asp-page="/productdetail" asp-route-sku="@item.Skucode" class="product-img">
                                <img class="lazyload img-product" src="/images/products/@item.Thumbnail" alt="@item.ProductName">
                                <img class="lazyload img-hover" src="/images/products/@item.Thumbnail" alt="@item.ProductName">
                            </a>
                            <ul class="product-action_list">
                                <li>
                                    <form method="post" asp-page-handler="AddToCart">
                                        <input type="hidden" name="SkuCode" value="@item.Skucode" />
                                        <input type="hidden" name="Qty" value="1" />
                                        <input type="hidden" name="Price" value="@item.Price" />

                                        <button type="submit" class="hover-tooltip tooltip-left box-icon">
                                            <span class="icon icon-shopping-cart-simple"></span>
                                        </button>
                                    </form>
                                </li>
                                <li class="wishlist">
                                    <form method="post" asp-page-handler="AddToWishlist">
                                        <input type="hidden" name="SkuCode" value="@item.Skucode" />
                                        <input type="hidden" name="ProductName" value="@item.ProductName" />

                                        <button type="submit" class="hover-tooltip tooltip-left box-icon">
                                            <span class="icon icon-heart"></span>
                                        </button>
                                    </form>
                                </li>
                                @* <li>
                                    <a href="#compare" data-bs-toggle="offcanvas" class="hover-tooltip tooltip-left box-icon ">
                                        <span class="icon icon-compare"></span>
                                        <span class="tooltip">Compare</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#quickView" data-bs-toggle="modal" class="hover-tooltip tooltip-left box-icon">
                                        <span class="icon icon-view"></span>
                                        <span class="tooltip">Quick view</span>
                                    </a>
                                </li> *@
                            </ul>
                            <ul class="product-badge_list">
                                <li class="product-badge_item h6 hot">Hot</li>
                            </ul>
                            <div class="product-countdown">
                                <div class="js-countdown cd-has-zero" data-timer="25472" data-labels="d : ,h : ,m : ,s"></div>
                            </div>
                        </div>
                        <div class="card-product_info">
                            <a href="/product-detail/@item.Skucode" class="name-product h4 link">
                                @item.ProductName
                            </a>

                            <div class="price-wrap">
                                <span class="price-new h6">₹@item.Price</span>
                            </div>
                            @* <ul class="product-color_list">
                                <li class="product-color-item color-swatch hover-tooltip tooltip-bot active">
                                    <span class="tooltip color-filter">Beige</span>
                                    <span class="swatch-value bg-light-beige"></span>
                                    <img class="lazyload" src="images/products/@item.Thumbnail" alt="Product">
                                </li>
                                <li class="product-color-item color-swatch hover-tooltip tooltip-bot">
                                    <span class="tooltip color-filter">Dark</span>
                                    <span class="swatch-value bg-dark-charcoal"></span>
                                    <img class="lazyload" src="images/products/@item.Thumbnail" alt="Product">

                                </li>
                                <li class="product-color-item color-swatch hover-tooltip tooltip-bot">
                                    <span class="tooltip color-filter">Sage Green</span>
                                    <span class="swatch-value bg-sage-green"></span>
                                    <img class="lazyload" src="images/products/@item.Thumbnail" alt="Product">
                                </li>
                            </ul> *@
                        </div>
                    </div>
                }

                <div class="wd-full wg-pagination">
                    @for (int i = 1; i <= Model.TotalPages; i++)
                    {
                        <a asp-page="productlist"
                           asp-route-catname="@Request.RouteValues["catname"]"
                           asp-route-subcatname="@Request.RouteValues["subcatname"]"
                           asp-route-currentPage="@i"
                           class="pagination-item @(i == Model.CurrentPage ? "active" : "")">
                            @i
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function setSort(type) {
        document.getElementById("ascPrice").value = (type === 'asc');
        document.getElementById("descPrice").value = (type === 'desc');
    }
</script>
<!-- /Section Product -->
